.newline{
  white-space: pre-wrap;
}

#portfolio h1{
  font-size: 2rem;
}

/* .feature-item{
  text-align: left;
  margin-top:2.5em;
  margin-left:-20px;
  padding-right:2em;
} */

.center{
  text-align: center;
}

.warning{
  color: red;
}
